@use '../../scss/variables';

.projectLine {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	padding: variables.$s2;
	border-bottom: 1px solid variables.$line-separator;

	cursor: pointer;

	&:first-child {
		border-top: 1px solid variables.$line-separator;
	}

	&:hover {
		background-color: whitesmoke;
	}

	&Summary {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&Detail {
		margin-top: variables.$s2;
		padding: variables.$s2;
		background: white;

		:last-child {
			margin-bottom: 0;
		}

		&Icon {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-left: variables.$s1;
			$size: 35px;
			width: $size;
			height: $size;

			&Extra {
				background-color: white;
				border: 1px solid variables.$line-separator;
				border-radius: variables.$s5;
			}
		}
	}
}
