// Grids
$spacer: 8px;

$s025: .25  * $spacer; // 2
$s050: .5   * $spacer; // 4
$s075: .75  * $spacer; // 6
$s1:   1    * $spacer; // 8
$s150: 1.5  * $spacer; // 12
$s2:   2    * $spacer; // 16
$s250: 2.5  * $spacer; // 20
$s3:   3    * $spacer; // 24
$s4:   4    * $spacer; // 32
$s5:   5    * $spacer; // 40
$s6:   6    * $spacer; // 48
$s7:   7    * $spacer; // 56
$s8:   8    * $spacer; // 64


// Colors
$color-indigo-ultra-light:    #d5eaf7;
$color-indigo-light:          #3498db;
$color-indigo-medium:         #2980b9;
$color-indigo-dark:           #1b577e;

$color-sun-ultra-light:       #fcf3ce;
$color-sun-light:             #f1c40f;
$color-sun-medium:            #f1a30f;
$color-sun-dark:              #b57817;

$color-alizarin-ultra-light:  #fadad7;
$color-alizarin-light:        #e74c3c;
$color-alizarin-medium:       #c0392b;
$color-alizarin-dark:         #8e291f;

$color-silver-ultra-light:    #f3f5f6;
$color-silver-light:          #d9dfe3;
$color-silver-medium:         #bdc3c7;
$color-silver-dark:           #7f8c8d;

$color-turquoise-ultra-light: #d0f1ea;
$color-turquoise-light:       #1abc9c;
$color-turquoise-medium:      #16a085;
$color-turquoise-dark:        #147764;

$color-asphalt-ultra-light:   #d5dade;
$color-asphalt-light:         #34495e;
$color-asphalt-medium:        #2c3e50;
$color-asphalt-dark:          #1a252f;

$color-primary: #232E42;
$color-bg: $color-silver-ultra-light;


// Shared
$text-dark: $color-asphalt-dark;
$line-separator: #eaeaeb;
