@use '../../scss/variables';

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

.formButton {
	&Icon {
		&Left {
			margin-right: variables.$s1;
		}
		&Right {
			margin-left: variables.$s1;
		}
		&Loader {
			animation: spin 1s linear infinite;
			transform-origin: center center;
		}
	}
}
